{% extends "base.njk" %}

{% block title %}中文独立播客{% endblock %}

{% block meta %}
<link rel="stylesheet" href="https://at.alicdn.com/t/font_1144028_wagkprqwss.css">
<link rel="stylesheet" href="../src/home.css">
{% endblock %}

{% block body %}
<div class="head">
  <div class="inner">
    <h1>中文独立播客</h1>
    <h2>发现与推荐高质量的中文独立播客</h2>
    <a href="https://github.com/typlog/china-indie-podcasts">如何提交播客</a>
  </div>
</div>
<div class="podcasts">
 <div class="inner">
   {% for item in podcasts %}
     <div class="item{% if item.blocked %} _blocked{% endif %}"{% if item.color %} style="--theme-color:{{ item.color }}"{% endif %}>
       <a class="item_logo" href="{{ item.url }}" target="_blank">
         <img src="{{ item.logo }}" alt="{{ item.name }} Logo">
       </a>
       <div class="item_main">
         <h3><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></h3>
         <p>{{ item.description }}</p>
         <div class="item_meta">
           <span>{{ item.author }}</span>
         </div>
         <div class="item_links">
           <a class="typicon icon-feed" href="{{ item.feed }}" target="_blank" aria-label="Feed"></a>
           {% if item.apple %}
           <a class="typicon icon-podcast" href="{{ item.apple }}" target="_blank" aria-label="Apple Podcasts"></a>
           {% endif %}

           {% if item.google %}
           <a class="typicon icon-google" href="{{ item.google }}" target="_blank" aria-label="Google Podcasts"></a>
           {% endif %}

           {% if item.spotify %}
           <a class="typicon icon-spotify" href="{{ item.spotify }}" target="_blank" aria-label="Spotify"></a>
           {% endif %}

           {% if item.overcast %}
           <a class="typicon icon-overcast" href="{{ item.overcast }}" target="_blank" aria-label="Overcast"></a>
           {% endif %}
         </div>
       </div>
     </div>
   {% endfor %}
 </div>
</div>
<div class="partners">
  <div class="inner">
    <h2>相关链接</h2>
    <nav>
      <a href="https://typlog.com/">Typlog</a>
      <a href="https://liqixpodcast.typlog.io/">利器x播客</a>
      <a href="https://at4am.io/">凌晨四点</a>
    </nav>
  </div>
</div>
{% endblock %}
